.product {
    margin-top: 10px;
    margin-bottom: 10px;
}

.productTitle {
    text-align: center;
}
.cat:hover{
    cursor: pointer;
}
.container {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    margin: auto;
   
}

.row{
    column-gap: 40px;
    row-gap: 20px;
}
.row:hover > :not(:hover) {
    opacity: 0.4;
    transform: scale(0.9);
}