.start{

    padding-top: 60px;
    padding-bottom: 60px;
   
    background-color: rgb(17, 17, 17);
    color: aliceblue;
}
.first h4{
    font-weight: 700;
}
ul li{
    font-weight: 600;
    list-style: none;
    margin-left: -30px;
}
.one p{
    font-weight: 500;
}
.icons button{
    padding: 4px 9px;
    border: 1px solid ;
    border-radius: 50%;
    margin-left: 9px;
    background-color: rgb(230, 174, 106);
}
.icon span{
    margin: 3px;
}
.heart{
    color: red;
}
.finish{
    background-color: black;
}
.end{
  
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 35px;
}
@media (min-width: 768px) {
    .first {
      justify-content: space-between;
    }
  
    .one, .two, .three, .four {
      flex: 1 1 50%;
      max-width: 50%;
    }
  }
  
  /* Telefonlar için medya sorguları */
  @media (max-width: 767.98px) {
    .first {
      flex-direction: column;
    }
  
    .one, .two, .three, .four {
      flex: 1 1 100%;
      max-width: 100%;
    }
  
    .icons button {
      margin-bottom: 10px;
    }
  
    .end p {
      font-size: 14px;
    }
  }